<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Form</h1>
  <div class="container">
    <form method="GET" action="submitted">
      <div class="row">
        <div class="col">
          <h1>Planner</h1>
          <hr class="my-4">
          <label for="fall">Fall Quarter</label><br>
          <input type="text" name="fall" id="fall"><br>
          <label for="winter">Winter Quarter</label><br>
          <input type="text" name="winter" id="winter"><br>
          <label for="spring">Spring Quarter</label><br>
          <input type="text" name="spring" id="spring"><br>
          <label for="summer">Summer Quarter</label><br>
          <input type="text" name="summer" id="summer"><br>
          <p>Token</p>
        </div>
      </div>
    </form>
  </div>
</body>
</html>