<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Green River Class Scheduler</title>
</head>
<body>
    <div class="container intro">
        <div class="row">
            <div class="col">
                <h1>Create New Plan</h1>
                <p>If you have not created a plan please click below to start.</p>
                <div class="text-center">
                    <a href="form.html"><button class="btn btn-primary" >New Plan</button></a>
                </div>
            </div>
            <div class="container">
                <hr class="my-4">
                <h2>Look Up</h2>
                <p>If you already have a plan please click below.</p>
                <div class="text-center">
                    <a href="planSearch"><button class="btn btn-primary" >Plan Search</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>